* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #e3e4e8;
  --fg: #17181c;
  --dur: 8s;
  font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320));
}

body {
  background: #000000;
  margin: 0;
  color: var(--fg);
  font: bold 1em/1.5 "Comfortaa", sans-serif;
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#wrapper {
  max-width: 100vw;
  width: -webkit-fill-available;
  height: 100vh;
  min-width: 375px;
  margin: auto;
}

#wrapper #canvas-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper #canvas-container canvas {
  max-width: 800px;
  min-width: 375px;
  height: 60vh;
  width: -webkit-fill-available;
  object-fit: cover;
}


/*CANVAS RENDER CONTROLLER*/

#controllers {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 60vh;
}

#controllers #w-input-field{
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  max-width: 500px;
  min-width: 375px;
  width: -moz-max-content;
}

#controllers #w-input-field[type="text"] {
  background-color: #1c1c1c;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 10px 12px;
  transition: box-shadow 0.2s ease-in-out;

}

#controllers #w-input-field[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
}

#controllers button {
  background-color: #1c1c1c;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  color: #757575;
  font-size: 15px;
  font-weight: lighter;
  padding: 10px 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#controllers button:hover {
  background-color: #4d4d4d;
  color: #fff;
}

#controllers button:active {
  background-color: #9a9a9a;
}


/*SOCIAL LINK */

.social-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 222;
  width: 100%;
  text-align: center;
  color: #000;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 30px;
}

.social-icons i {
  color: #fff;
  position: absolute;
  z-index: 333;
  transition: all 265ms ease-out;
}

.social-icons li:nth-child(1) i {
  top: 1px;
  left: 10.4px;
}
.social-icons li:nth-child(3) i {
  top: 2px;
  left: 12.8px;
}
.social-icons li:nth-child(2) i {
  top: 2px;
  left: 10.4px;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 100%;
  display: block;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  border-style: none;
  transition: all 265ms ease-in;
}


.project-title {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #000;
  z-index: 33;

}

.project-title a {
  color: white;
  text-decoration: none;
}

.project-title a:hover {
  color: #919191;
}

/* PRELOADER */

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: black;
  opacity: 1;
  z-index: 22;
  transition: opacity .3s ease-in-out;
}

#preloader.loaded {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  pointer-events: none;
}

#preloader .loading-text{
  text-align: center;
}

.hexagon {
  margin-bottom: 1.5em;
  overflow: hidden;
  position: relative;
  height: 15em;
  width: 15em;
}

.hexagon__group, .hexagon__sector, .hexagon__sector:before, .hexagon__sector:after {
  position: absolute;
}
.hexagon__group {
  width: 100%;
  height: 100%;
}
.hexagon__group:nth-child(2) .hexagon__sector,
.hexagon__group:nth-child(2) .hexagon__sector:before,
.hexagon__group:nth-child(2) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -1/6);
}
.hexagon__group:nth-child(3) .hexagon__sector,
.hexagon__group:nth-child(3) .hexagon__sector:before,
.hexagon__group:nth-child(3) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -2/6);
}
.hexagon__group:nth-child(4) .hexagon__sector,
.hexagon__group:nth-child(4) .hexagon__sector:before,
.hexagon__group:nth-child(4) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -3/6);
}
.hexagon__group:nth-child(5) .hexagon__sector,
.hexagon__group:nth-child(5) .hexagon__sector:before,
.hexagon__group:nth-child(5) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -4/6);
}
.hexagon__group:nth-child(6) .hexagon__sector,
.hexagon__group:nth-child(6) .hexagon__sector:before,
.hexagon__group:nth-child(6) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -5/6);
}
.hexagon__group:nth-child(odd) {
  transform: rotate(30deg);
}
.hexagon__sector, .hexagon__sector:before, .hexagon__sector:after {
  animation-duration: var(--dur);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /*animation-play-state: paused;*/
  width: 0.2em;
  height: 0.2em;
}
.hexagon__sector {
  animation-name: moveOut1;
  top: calc(50% - 0.1em);
  left: calc(50% - 0.1em);
}
.hexagon__sector:nth-child(2) {
  animation-name: moveOut2;
}
.hexagon__sector:nth-child(3) {
  animation-name: moveOut3;
}
.hexagon__sector:nth-child(4) {
  animation-name: moveOut4;
}
.hexagon__sector:nth-child(5) {
  animation-name: moveOut5;
}
.hexagon__sector:nth-child(6) {
  animation-name: moveOut6;
}
.hexagon__sector:before, .hexagon__sector:after {
  animation-name: ripple;
  background-color: currentColor;
  border-radius: 0.1em;
  content: "";
  display: block;
  top: 0;
  left: 0;
  transform-origin: 0.1em 0.1em;
}
.hexagon__sector:before {
  transform: rotate(-30deg)
}
.hexagon__sector:after {
  transform: rotate(-150deg)
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #17181c;
    --fg: #e3e4e8;
  }
}

@keyframes moveOut1 {
  from { transform: translateY(0) scale(0); }
  3% { transform: translateY(0.2em) scale(1); }
  97% { transform: translateY(7.3em) scale(1); }
  to { transform: translateY(7.5em) scale(0); }
}
@keyframes moveOut2 {
  from { transform: rotate(60deg) translateY(0) scale(0); }
  3% { transform: rotate(60deg) translateY(0.2em) scale(1); }
  97% { transform: rotate(60deg) translateY(7.3em) scale(1); }
  to { transform: rotate(60deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut3 {
  from { transform: rotate(120deg) translateY(0) scale(0); }
  3% { transform: rotate(120deg) translateY(0.2em) scale(1); }
  97% { transform: rotate(120deg) translateY(7.3em) scale(1); }
  to { transform: rotate(120deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut4 {
  from { transform: rotate(180deg) translateY(0) scale(0); }
  3% { transform: rotate(180deg) translateY(0.2em) scale(1); }
  97% { transform: rotate(180deg) translateY(7.3em) scale(1); }
  to { transform: rotate(180deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut5 {
  from { transform: rotate(240deg) translateY(0) scale(0); }
  3% { transform: rotate(240deg) translateY(0.2em) scale(1); }
  97% { transform: rotate(240deg) translateY(7.3em) scale(1); }
  to { transform: rotate(240deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut6 {
  from { transform: rotate(300deg) translateY(0) scale(0); }
  3% { transform: rotate(300deg) translateY(0.2em) scale(1); }
  97% { transform: rotate(300deg) translateY(7.3em) scale(1); }
  to { transform: rotate(300deg) translateY(7.5em) scale(0); }
}
@keyframes ripple {
  from, to { width: 0.2em; }
  33% { width: 2.4em; }
}

@media screen and (max-width: 768px) {
  #wrapper #canvas-container canvas {
    object-fit: contain;
  }
}